<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uniconwebdesign.mia">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".PlayInstrumentActivity"></activity>
        <activity android:name=".PlayVideoActivity" />
        <activity android:name=".ContactusActivity" />
        <activity android:name=".AboutusActivity" />
        <activity android:name=".AddUserActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".LogInActivity" />
        <activity android:name=".AddCourse" />
        <activity android:name=".AddVideo" />
        <activity android:name=".AddTune" />
        <activity android:name=".AddPayment" />
        <activity android:name=".AddMusicalAcademy" />
        <activity android:name=".AddFeedback" />
        <activity android:name=".AddEnrollment" />
        <activity android:name=".ViewVideoActivity" />
        <activity android:name=".ViewUserActivity" />
        <activity android:name=".ViewTuneActivity" />
        <activity android:name=".ViewPaymentActivity" />
        <activity android:name=".ViewMusicalAcademyActivity" />
        <activity android:name=".ViewInstrumentActivity" />
        <activity android:name=".ViewFeedbackActivity" />
        <activity android:name=".ViewEnrollmentActivity" />
        <activity android:name=".ViewCourseActivity" />
        <activity android:name=".ViewAdminActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>